src/Tasks/MSITask.xsd

<?xml version="1.0" ?>
<!--
//
// NAntContrib
// Copyright (C) 2002 Jayme C. Edwards (jedwards@wi.rr.com)
//
// This library is free software; you can redistribute it and/or
// modify it under the terms of the GNU Lesser General Public
// License as published by the Free Software Foundation; either
// version 2.1 of the License, or (at your option) any later version.
//
// This library is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
// Lesser General Public License for more details.
//
// You should have received a copy of the GNU Lesser General Public
// License along with this library; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 USA
//
-->
<xsd:schema targetNamespace="NAnt.Contrib.Tasks.MSITask" 
	xmlns="NAnt.Contrib.Tasks.MSITask"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:nant="http://nant.sourceforge.net">
	<xsd:import namespace="http://nant.sourceforge.net" schemaLocation="NAnt.xsd" />
	<!-- msi -->
	<xsd:element name="msi">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="properties" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="search" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="directories" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="environment" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="features" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="components" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="mergemodules" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="registry" minOccurs="0" maxOccurs="1" />
			</xsd:sequence>
			<xsd:attribute name="output" type="xsd:string" use="required" />
			<xsd:attribute name="sourcedir" type="xsd:string" use="required" />
			<xsd:attribute name="license" type="xsd:string" use="required" />
			<xsd:attribute name="banner" type="xsd:string" use="optional" />
			<xsd:attribute name="background" type="xsd:string" use="optional" />
			<xsd:attribute name="debug" type="xsd:boolean" use="optional" default="false" />
		</xsd:complexType>
	</xsd:element>
	<!-- msi/properties -->
	<xsd:element name="properties">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="property" minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- msi/properties/property -->
	<xsd:element name="property">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required" />
			<xsd:attribute name="value" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>
	<!-- msi/search -->
	<xsd:element name="search">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="key" type="MSISearchKey" minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- msi/search/key -->
	<xsd:complexType name="MSISearchKey">
		<xsd:sequence>
			<xsd:element name="value" minOccurs="1" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="name" type="xsd:string" use="required" />
					<xsd:attribute name="setproperty" type="xsd:string" use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="type" type="MSISearchKeyType" use="required" />
		<xsd:attribute name="path" type="xsd:string" use="required" />
		<xsd:attribute name="root" type="MSIRegistryKeyRoot" use="required" />
	</xsd:complexType>
	<!-- msi/search/key/@type -->
	<xsd:simpleType name="MSISearchKeyType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="registry" />
			<xsd:enumeration value="file" />
		</xsd:restriction>
	</xsd:simpleType>
	<!-- msi/directories -->
	<xsd:element name="directories">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="directory" type="MSIRootDirectory" minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- msi/directories//directory -->
	<xsd:complexType name="MSIDirectory">
		<xsd:sequence>
			<xsd:element name="directory" type="MSIDirectory" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="foldername" type="xsd:string" use="required" />
	</xsd:complexType>
	<!-- msi/directories/directory -->
	<xsd:complexType name="MSIRootDirectory">
		<xsd:complexContent>
			<xsd:extension base="MSIDirectory">
				<xsd:attribute name="root" type="xsd:string" use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- msi/environment -->
	<xsd:element name="environment">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="variable" minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- msi/environment/variable -->
	<xsd:element name="variable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="component" type="componentReference" minOccurs="1" />
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required" />
			<xsd:attribute name="append" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>
	<!-- msi/features -->
	<xsd:element name="features">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="feature" type="MSIFeature" minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- msi/features/feature -->
	<xsd:complexType name="MSIFeature">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="directory" type="directoryReference" minOccurs="0" maxOccurs="1" />
			<xsd:element name="feature" type="MSIFeature" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="attr" type="xsd:int" use="optional" default="0" />
		<xsd:attribute name="title" type="xsd:string" use="optional" />
		<xsd:attribute name="display" type="xsd:int" use="required" />
		<xsd:attribute name="typical" type="xsd:boolean" use="optional" default="false" />
	</xsd:complexType>
	<!-- msi/components -->
	<xsd:element name="components">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="component" type="MSIComponent" minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- msi/components/component -->
	<xsd:complexType name="MSIComponent">
		<xsd:sequence>
			<xsd:element name="directory" type="directoryReference" minOccurs="1" />
			<xsd:element name="feature" type="featureReference" minOccurs="1" />
			<xsd:element name="key" type="MSIKeyFile" minOccurs="1" />
			<xsd:element name="fileset" type="nant:NAntFileSet" minOccurs="1" />
			<xsd:element name="forceid" type="MSIFileOverride" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="id" type="MSIComponentGUID" use="required" />
		<xsd:attribute name="attr" type="xsd:int" use="required" />
	</xsd:complexType>
	<!-- msi/components/component/key -->
	<xsd:complexType name="MSIKeyFile">
		<xsd:attribute name="file" type="xsd:string" use="required" />
	</xsd:complexType>
	<!-- msi/components/component/override -->
	<xsd:complexType name="MSIFileOverride">
		<xsd:attribute name="file" type="xsd:string" use="required" />
		<xsd:attribute name="id" type="MSIFileID" use="required" />
	</xsd:complexType>
	<!-- msi/mergemodules -->
	<xsd:element name="mergemodules">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="merge" minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- msi/mergemodules/merge -->
	<xsd:element name="merge">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="modules" type="nant:NAntFileSet" minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
			<xsd:attribute name="feature" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>
	<!-- msi/registry -->
	<xsd:element name="registry">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="key" type="MSIRegistryKey" minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- msi/registry/key -->
	<xsd:complexType name="MSIRegistryKey">
		<xsd:sequence>
			<xsd:element name="component" type="componentReference" minOccurs="1" />
			<xsd:element name="value" type="MSIRegistryKeyValue" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="path" type="xsd:string" use="required" />
		<xsd:attribute name="root" type="MSIRegistryKeyRoot" use="required" />
	</xsd:complexType>
	<!-- msi/registry/key/value -->
	<xsd:complexType name="MSIRegistryKeyValue">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string" use="required" />
				<xsd:attribute name="value" type="xsd:string" use="optional" />
				<xsd:attribute name="dword" type="xsd:string" use="optional" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- shared types -->
	<xsd:complexType name="directoryReference">
		<xsd:attribute name="name" type="xsd:string" use="required" />
	</xsd:complexType>
	<xsd:complexType name="componentReference">
		<xsd:attribute name="name" type="xsd:string" use="required" />
	</xsd:complexType>
	<xsd:complexType name="featureReference">
		<xsd:attribute name="name" type="xsd:string" use="required" />
	</xsd:complexType>
	<xsd:simpleType name="MSIRegistryKeyRoot">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="machine" />
			<xsd:enumeration value="classes" />
			<xsd:enumeration value="users" />
			<xsd:enumeration value="user" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MSIComponentGUID">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	<xsd:simpleType name="MSIFileID">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>
	
</xsd:schema>